###############################################################
#                   Authelia configuration                    #
#     Most of this stolen from                                #
# https://www.smarthomebeginner.com/docker-authelia-tutorial/ #
###############################################################
 
server:
  host: 0.0.0.0
  port: 9091
log:
  level: {{ authelia_log_level }}

jwt_secret: {{ authelia_jwt_secret}}

totp:
  issuer: authelia.com
  period: 30
  skew: 1

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 256

access_control:
  default_policy: deny
  rules:
    - domain: authelia.{{ domain }}
      policy: bypass
    - domain: silverbullet.{{ domain }}
      resources:
        - '/.client/manifest.json$'
        - '/.client/[a-zA-Z0-9_-]+.png$'
        - '/service_worker.js$'
      policy: bypass
    - domain: silverbullet.{{ domain }}
      policy: one_factor
    - domain: traefik.{{ domain }}
      policy: one_factor


session:
  name: authelia_session
  secret: {{ authelia_session_secret }}
  expiration: 3600 # 1 hour
  inactivity: 300 # 5 minutes
  domain: {{ domain }}

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  local:
    path: /config/db.sqlite3
  encryption_key: {{ authelia_encryption_key }}

notifier:
  filesystem:
    filename: /config/notification.txt
